.container {
  text-align: center;
  margin: auto;
}

.table {
  display: inline-block;
}

.cell {
  border: 1px solid black;
  padding: 1%;
  text-align: center;
}

.countryName {
  text-align: left;
}

.image {
  width: 40px;
  height: 40px;
}
